.carousel.carousel-slider {
	/* width: 200px; */
}

.carousel .control-prev.control-arrow:before {
	  transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	  margin-left: 15px;
}

.carousel .control-next.control-arrow:before {
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  margin-right: 15px;
}

.carousel.carousel-slider .control-arrow:before {
	  display: inline-block;
	  border-top: none;
	  border-right: 5px solid #fff;
	  border-bottom: 5px solid #fff;
	  border-left: none;
	  padding: 8px;
	  content: '';
}

/* Fix for IE10 */
/* .carousel .slide { */
/* 	  width: 100%; */
/* } */

/* Fix for IE10 */
/* .carousel .slide img { */
/* 		width: 100% !important; */
/* 		height: auto !important; */
/* } */
